* {
  font-family: Roboto Condensed;
  font-size: 10pt;
}

window {
  background-color: rgba(30,30,30,0.8);
}

#input {
  margin: 0px;
  border-radius: 0px;
  background-color: inherit;
  border: none;
}

#input:focus {
  color: #ffffee;
  background-color: rgba(80,80,80,0.9);
}

#entry {
  background-color: inherit;
}

#entry:selected {
  background-color: rgba(80,80,80,0.9);
  outline: none;
}

#scroll {}

#text {
  color: #eeeeee;
}
